@model  KhuVuc
@{
    QLNhaHangEntities db = new QLNhaHangEntities();
}

<div class="panel panel-primary">
    <div class="panel-heading">@(Model.KhuVucID == 0 ? "Thêm mới khu vực" : "Cập nhật thông tin khu vực")</div>
    <div class="panel-body">
        <form style="margin-top:20px;display:inline-block" class="col-xs-12" method="post" enctype="multipart/form-data" action="@Url.Action("capnhat", "khuvuc", new { area = "" })">

            <input type="hidden" name="KhuVucID" value="@Model.KhuVucID" />
            <div class="form-group col-xs-12">
                <label>Tên khu vực:</label>
                <input type="text" class="col-xs-12 form-control" required name="TenKhuVuc" value="@Model.TenKhuVuc" />
            </div>
            <div class="form-group col-xs-6">
                <label style="width:100%">Ảnh khu vực :</label>
                <input type="file" name="AnhDaiDien" class="col-xs-12" />

            </div>
            <div class="form-group col-xs-6">

                @if (Model.Anh != null)
                {
                    <img src="@Model.Anh" style="height:200px" />
                }
            </div>

            <div class="col-xs-12" style="margin:20px">
                <input class="pull-right btn btn-success" type="submit" value="Lưu thông tin" />

            </div>
        </form>
    </div>
</div>
